// Variables //
$background: #333333;
$swatch_1: #231454;
$swatch_2: #520f5b;
$swatch_3: #271e9a;
$swatch_4: #4e3eb6;
$swatch_5: #8a6c9c;
$golden-gradient: linear-gradient(64deg, #805E19 -20%, #D09F41, #FDDF9B 130%);
$main-font: 'Plus Jakarta Sans', sans-serif;


// General //
body {
    margin: 0;
    font-family: $main-font;
    font-size: 13px;
    font-weight: 400;
    background-color: $background;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

.background_title {
    position: absolute;
    font-size: 120px;
    font-weight: 700;
    line-height: 145px;
    color: $background;
    opacity: 20%;
    z-index: -1;
    top: -90px;
    right: -30px;
    text-transform: uppercase;
    text-shadow: -1px -1px #fff, 
    1px 1px #fff, 1px -1px #fff, 
    -1px 2px #fff, 1px 2px #fff;
}

// Header //
header {
    z-index: 9999999;
    position: fixed;
    width: -webkit-fill-available;
    background: linear-gradient(180deg, #000 0%, transparent 100%);

    .container {
        display: flex;
        padding: 10px;
        place-content: center;

        .logo {

            img {
                height: 40px;
            }
        }

        .menu {
            ul {
                display: flex;

                li {
                    list-style-type: none;
                    margin-right: 37px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}


// Footer //
footer {
    @media screen and (min-width: 992px) { margin-top: 66px; }
    @media screen and (max-width: 991px) { margin-top: 66px; }
    .container {
        .top {
            display: none;
        }
        
        .credit {
            text-align: center;
        }
    }
}



// Landing Page //

/* First-Section */
.first-section {
    border-radius: 0 0 35px 35px;
    height: 630px;

    .container {
        width: 300px;
        margin: 0 auto;
        padding-top: 153px;

        video {
            width: -webkit-fill-available;
            object-fit: none;
            height: 630px;
            position: absolute;
            top: 0;
            left: 0;
            filter: brightness(0.5);
            border-radius: 0 0 35px 35px;
            opacity: 1;
            z-index: -1;
        }

        .title {
            margin-bottom: 35px;

            h1 {
                font-size: 45px;
                line-height: 60px;
                font-weight: 900;
                letter-spacing: 2px;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .bio {
            margin: 0 12px;
        }
    }
}

/* Infos Section */
.infos {
    padding-top: 88px;
    overflow: hidden;

    .container {
        position: relative;
        max-width: 1256px;
        margin: auto;

        .stats {

            @media screen and (min-width: 992px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 40px;
                grid-row-gap: 10px;

                .radar_chart { grid-area: 1 / 1 / 3 / 2; }
                .profile { grid-area: 1 / 2 / 2 / 3; }
                .most_used { grid-area: 1 / 3 / 2 / 4; }
                .more_infos { grid-area: 2 / 2 / 3 / 4; }

                .radar_chart { 
                    height: 723px !important;
                    width: 409px;
                    margin-left: 0;
                }
                .profile { 
                    height: 356px !important;
                    width: 413px;
                    margin-left: 0;
                }
                .most_used { 
                    height: 356px !important;
                    width: 354px;
                    margin-left: 0;
                }
                .more_infos { 
                    height: 327px !important;
                    width: 807px;
                    margin-left: 0;
                }
            }
            @media screen and (max-width: 991px) {
            }

            div { 
                margin: 0 auto 30px;
                background-color: $swatch_5;
                width: 90%;
                border-radius: 35px;
                background: rgba(138, 108, 156, 0.7);
                backdrop-filter: blur(2px);
            }
            div:nth-child(1) { height: 425px; margin-bottom: 30px; }
            div:nth-child(2) { height: 235px; margin-bottom: 30px; }
            div:nth-child(3) { height: 235px; margin-bottom: 30px; }
            div:nth-child(4) { height: 175px; }

            .radar_chart {
                background: rgba(138, 108, 156, 0.7);
                backdrop-filter: blur(2px);
            }
        }
    }
}

/* Projects Section */
.projects {

    .container {
        position: relative;
        overflow-y: hidden;
        padding-top: 88px;

        .content {
            display: inline-flex;
            gap: 20px;

            .card {
                background-color: $swatch_5;
                border-radius: 35px;
                width: 220px;
                height: 430px;
            }
        }
    }
}

/* Separator Section */
.separator {
    margin-top: 90px;
    .container {
        width: auto;
        text-align: center;
        background-color: $swatch_1;
        display: flex;
        align-items: center;

        @media screen and (min-width:992px) {
            height: 424px;
        }
        @media screen and (max-width:991px) {
            height: 350px;
            padding: 0 20px;
        }


        .title {
            h3 {
                font-weight: 700;
                margin: 0 0 27px;

                @media screen and (min-width:992px) {
                    font-size: 48px;
                    line-height: 58px;
                }
                @media screen and (max-width:991px) {
                    font-size: 32px;
                    line-height: 38px;
                }
            }
        }

        .text {
            p {
                margin: 0 0 48px;
                @media screen and (min-width:992px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media screen and (max-width:991px) {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }

        .button {
            display: inline;

            a {
                text-decoration: none;
                color: white;
                padding: 5px 20px;
                background-color: black;
                border: 2px solid;
                border-image: $golden-gradient 1;
            }
        }
    }
}

/* Paralax Section */
.paralax {
    margin-top: 72px;
    .container {
        width: auto;
        background-image: url('./../img/paralax.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        @media screen and (min-width:992px) {
            height: 424px;
        }
        @media screen and (max-width:991px) {
            height: 350px;
        }
    }
}
