body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #0e0a24;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.background_title {
  position: absolute;
  font-size: 120px;
  font-weight: 700;
  line-height: 145px;
  color: #000000;
  opacity: 20%;
  z-index: -1;
  top: -90px;
  right: -30px;
  text-transform: uppercase;
  text-shadow: -1px -1px #fff, 1px 1px #fff, 1px -1px #fff, -1px 2px #fff, 1px 2px #fff;
}

header {
  z-index: 9999999;
  position: fixed;
  width: -webkit-fill-available;
  background: linear-gradient(180deg, #000 0%, transparent 100%);
}
header .container {
  display: flex;
  padding: 10px;
  place-content: center;
}
header .container .logo img {
  height: 40px;
}
header .container .menu ul {
  display: flex;
}
header .container .menu ul li {
  list-style-type: none;
  margin-right: 37px;
}
header .container .menu ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 992px) {
  footer {
    margin-top: 66px;
  }
}
@media screen and (max-width: 991px) {
  footer {
    margin-top: 66px;
  }
}
footer .container .top {
  display: none;
}
footer .container .credit {
  text-align: center;
}

/* First-Section */
.first-section {
  border-radius: 0 0 35px 35px;
  height: 630px;
}
.first-section .container {
  margin: 0 auto;
  padding-top: 153px;
}
@media screen and (min-width: 992px) {
  .first-section .container {
    width: 600px;
  }
}
@media screen and (max-width: 991px) {
  .first-section .container {
    width: 300px;
  }
}
.first-section .container video {
  width: -webkit-fill-available;
  -o-object-fit: none;
     object-fit: none;
  height: 630px;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.5);
  border-radius: 0 0 35px 35px;
  opacity: 1;
  z-index: -1;
}
.first-section .container .title {
  margin-bottom: 35px;
}
.first-section .container .title h1 {
  font-size: 45px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.first-section .container .bio {
  margin: 0 12px;
}

/* Infos Section */
.infos {
  padding-top: 88px;
  overflow: hidden;
}
.infos .container {
  position: relative;
  max-width: 1256px;
  margin: auto;
}
.infos .container .stats span.mini-title {
  position: absolute;
  left: 15px;
  top: 10px;
}
.infos .container .stats .radar_chart .chart {
  position: absolute;
  height: 272px;
  width: 272px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.infos .container .stats .profile .pp {
  padding: 35px 0 0;
  text-align: center;
}
.infos .container .stats .profile .pp img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.infos .container .stats .profile .textarea {
  margin: 0 20px;
}
.infos .container .stats .profile .textarea h3 {
  text-align: center;
}
.infos .container .stats .profile .textarea p {
  line-height: 17px;
}
.infos .container .stats .little-cards {
  padding-top: 80px;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}
.infos .container .stats .little-cards .card {
  background-color: #271e9a;
  border-radius: 8px;
  text-align: center;
  width: 90px;
  font-size: 15px;
  padding-top: 12px;
}
.infos .container .stats .little-cards .card span {
  font-size: 18px;
  font-weight: bold;
}
.infos .container .stats .more_infos {
  padding-top: 50px;
}
.infos .container .stats .more_infos .textarea {
  margin: 0 20px;
}
.infos .container .stats .more_infos .textarea p {
  line-height: 17px;
}
@media screen and (min-width: 992px) {
  .infos .container .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 10px;
  }
  .infos .container .stats .profile {
    grid-area: 1/1/3/2;
  }
  .infos .container .stats .radar_chart {
    grid-area: 1/2/2/3;
  }
  .infos .container .stats .most_used {
    grid-area: 1/3/2/4;
  }
  .infos .container .stats .more_infos {
    grid-area: 2/2/3/4;
  }
  .infos .container .stats .profile {
    height: 570px !important;
    width: 409px;
    margin-left: 0;
  }
  .infos .container .stats .radar_chart {
    height: 356px !important;
    width: 413px;
    margin-left: 0;
  }
  .infos .container .stats .most_used {
    height: 356px !important;
    width: 354px;
    margin-left: 0;
  }
  .infos .container .stats .more_infos {
    height: 124px !important;
    width: 807px;
    margin-left: 0;
  }
}
.infos .container .stats > div {
  margin: 0 auto 30px;
  background-color: #8a6c9c;
  width: 90%;
  border-radius: 25px;
  background: rgba(138, 108, 156, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.infos .container .stats > div:nth-child(1) {
  height: 425px;
  margin-bottom: 30px;
}
.infos .container .stats > div:nth-child(2) {
  height: 340px;
  margin-bottom: 30px;
}
.infos .container .stats > div:nth-child(3) {
  height: 235px;
  margin-bottom: 30px;
}
.infos .container .stats > div:nth-child(4) {
  height: 175px;
}
.infos .container .stats .radar_chart {
  background: rgba(138, 108, 156, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

/* Projects Section */
.projects .container {
  position: relative;
  overflow-y: hidden;
  padding-top: 88px;
}
.projects .container .content {
  display: inline-flex;
  gap: 20px;
  margin: 0 20px;
}
.projects .container .content .card {
  background-color: #8a6c9c;
  border-radius: 35px;
  width: 220px;
  height: 430px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.projects .container .content .card h4 {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.301);
}
.projects .container .content .card:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.projects .container .content .card:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}
.projects .container .content .card:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1672307974995-cd253f7f7eeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

/* Separator Section */
.separator {
  margin-top: 90px;
}
.separator .container {
  width: auto;
  text-align: center;
  background-color: #231454;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .separator .container {
    height: 424px;
  }
}
@media screen and (max-width: 991px) {
  .separator .container {
    height: 350px;
    padding: 0 20px;
  }
}
.separator .container .title h3 {
  font-weight: 700;
  margin: 0 0 27px;
}
@media screen and (min-width: 992px) {
  .separator .container .title h3 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media screen and (max-width: 991px) {
  .separator .container .title h3 {
    font-size: 32px;
    line-height: 38px;
  }
}
.separator .container .text p {
  margin: 0 0 48px;
}
@media screen and (min-width: 992px) {
  .separator .container .text p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .separator .container .text p {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 991px) {
  .separator .container .text p br {
    display: none;
  }
}
.separator .container .button {
  display: inline;
}
.separator .container .button a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background-color: #520f5b;
  border-radius: 15px;
  transition: all 0.3s;
  font-size: 15px;
  text-transform: uppercase;
}
.separator .container .button a:hover {
  background-color: #852692;
}

/* Paralax Section */
.paralax {
  margin-top: 72px;
}
.paralax .container {
  width: auto;
  background-image: url("./../img/paralax.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width: 992px) {
  .paralax .container {
    height: 424px;
  }
}
@media screen and (max-width: 991px) {
  .paralax .container {
    height: 350px;
  }
}

/* Contact */
.contact {
  margin: 70px 20px;
}
.contact .container {
  text-align: center;
}
.contact .formulaire {
  border-radius: 20px;
  background-color: #520f5b;
  padding: 20px 0;
}
.contact .formulaire input,
.contact .formulaire textarea {
  background: transparent;
  border: none;
  border-bottom: solid 1px white !important;
  color: white;
  margin-bottom: 15px;
}
.contact .formulaire input::-moz-placeholder, .contact .formulaire textarea::-moz-placeholder {
  color: white;
}
.contact .formulaire input:-ms-input-placeholder, .contact .formulaire textarea:-ms-input-placeholder {
  color: white;
}
.contact .formulaire input::placeholder,
.contact .formulaire textarea::placeholder {
  color: white;
}/*# sourceMappingURL=style.css.map */